In [4]:
import pandas as pd
import numpy as np
import math
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [5]:
pd.set_option('max_columns', None)
info = pd.read_csv("../../test/filedrivertest/to_csv/objects_info.csv")

In [6]:
info = info[:32093]
info.head()

,FrameIdx,TimeStamp,ObjIdx,Obj_Id,BdBox_0X,BdBox_0Y,BdBox_1X,BdBox_1Y,BdBox_2X,BdBox_2Y,BdBox_3X,BdBox_3Y,Center_X,Center_Y,Class_Name,Velocity_X,Velocity_Y
0,0,1.505369e+09,0,62,33.962875,0.505278,33.957809,-1.199798,29.423162,-1.186318,29.428232,0.518758,31.693020,-0.340520,Car,15.714168,-0.046714
1,0,1.505369e+09,1,63,144.656891,5.315582,144.669678,3.322351,138.081360,3.280111,138.068573,5.273342,141.369125,4.297847,Truck,17.124807,0.109794
2,0,1.505369e+09,2,246,48.755569,4.878856,48.773026,3.478460,42.835640,3.404447,42.818184,4.804842,45.795605,4.141651,Truck,16.601341,0.206948
3,0,1.505369e+09,3,161,27.311588,4.677684,27.279587,3.013759,22.978626,3.096478,23.010628,4.760404,25.145107,3.887081,Car,15.028389,-0.289039
4,0,1.505369e+09,4,51,-21.053070,0.527956,-21.063114,-1.111441,-22.188801,-1.104545,-22.178757,0.534852,-21.620935,-0.288295,Car,14.390348,-0.088234

In [7]:
def find_new(id_pool,old):
    if old not in id_pool:
        return old
    new = old
    while 1:
        new = new*2+1
        #print(new,id_pool)
        if new not in id_pool:
            return new

In [8]:
test_id_pool = [1,3,5,7]
old = 1
find_new(test_id_pool,old)

15

In [9]:
def convert(idx,ids,id_pool):
    last = np.NAN
    count = 0
    new_id = np.NAN
    for i in range(len(idx)):
        current = idx[i]
        id = ids[i]
        if current!=last+1:
            #print(count,ids[i])
            count+=1
            new_id = find_new(id_pool,id)
            #print(type(id_pool),type(new_id))
            id_pool.append(new_id)
        #print(count)
        if count!=1:
            ids[i] = new_id
        last = current
        #print(idx,ids,id_pool)
    return(ids)

In [10]:
info1 = info.copy()
id_pool = info1.Obj_Id.unique().tolist()
print(id_pool)

[62, 63, 246, 161, 51, 59, 13, 109, 212, 10, 235, 225, 56, 93, 86, 217, 233, 34, 25, 150, 53, 250, 30, 164, 98, 228, 173, 19, 42, 160, 67, 180, 187, 113, 183, 194, 24, 12, 29, 155, 21, 221, 208, 227, 73, 179, 79, 91, 85, 87, 49, 206, 157, 23, 28, 243, 141, 199, 158, 39, 72, 192, 139, 8, 66, 102, 207, 88, 222, 178, 90, 124, 65, 89, 219, 230, 138, 205, 43, 232, 168, 11, 159, 52, 249, 96, 128, 129, 201, 176, 135, 130, 117, 229, 6, 197, 115, 125, 143, 60, 9, 16, 182, 76, 156, 35, 137, 191, 153, 50, 81, 82, 55, 120, 121, 84, 184, 40, 106, 226, 134, 18, 148, 251, 123, 245, 111, 239, 218, 209, 4, 149, 202, 237, 146, 71, 220, 100, 44, 64, 122, 15, 46, 105, 165, 47, 57, 92, 166, 94, 185, 231, 240, 36, 103, 253, 118, 215, 37, 97, 70, 204, 223, 3, 163, 145, 27, 80, 1, 147, 210, 236, 198, 112, 142, 152, 214, 68, 174, 170, 78]

In [11]:
Obj_Id = id_pool[4]

frame = info1[info1.Obj_Id == Obj_Id]
idx = frame.FrameIdx.tolist()
ids = frame.Obj_Id.tolist()

print(Obj_Id,len(id_pool))

converted_ids = convert(idx,ids,id_pool)
print(converted_ids,len(converted_ids))
frame.Obj_Id = converted_ids
for i in frame.iterrows():
    info1.at[i[0], 'Obj_Id'] = i[1][3]
print(Obj_Id,len(id_pool))

51 181
[51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 831, 831, 831, 831, 831, 831, 831, 831, 831, 831, 831, 831, 831, 831, 831, 831, 831, 831, 831, 831, 831, 831, 831, 831, 831, 831, 831, 831, 831, 831, 831, 831, 831, 831, 831, 831, 831, 831, 831, 831, 831, 831, 831, 831, 831, 831, 831, 831, 831, 831, 831, 831, 831, 831, 831, 831, 831, 831, 831, 831, 831, 831, 831, 831, 831, 831, 831, 831, 831, 831, 831, 831, 831, 831, 831, 831, 831, 831, 831, 831, 831, 831, 831, 831, 831, 831, 831, 831, 831, 831, 831, 1663, 1663, 1663, 1663, 1663, 1663, 1663, 1663, 1663, 1663, 1663, 1663, 1663, 1663, 1663, 1663, 1663, 1663, 1663, 1663, 1663, 1663, 1663, 1663, 1663, 1663, 1663, 1663, 1663, 1663, 1663, 1663, 1663, 1663, 1663, 1663, 1663, 1663, 1663, 1663, 1663, 1663, 1663, 1663, 1663, 1663, 1663, 1663, 1663, 1663, 1663, 1663, 1663, 1663, 1663, 1663, 1663, 1663, 1663, 1663, 1663, 1663, 1663, 1663, 1663, 1663, 1663, 1663, 1663, 1663, 1663, 1663, 1663, 1663, 1663, 1663, 1663, 1663, 1663, 1663, 1663, 1663, 1663, 1663, 1663, 1663, 1663, 1663, 1663, 1663, 1663, 1663, 1663, 1663, 1663, 1663, 1663, 1663, 1663, 1663, 1663, 1663, 1663, 1663, 1663, 1663, 1663, 1663, 1663, 1663, 1663, 1663, 1663, 1663, 1663, 1663, 1663, 1663, 1663, 1663, 1663, 1663, 1663, 1663, 1663, 1663, 1663, 1663, 1663, 1663, 1663] 694
51 184

C:\Users\oubaituo-130\Anaconda3\lib\site-packages\pandas\core\generic.py:4405: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value